{% extends 'nav_index.html' %}
{% block content %}
    <link href="static/css/login.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <div>
    <div class="z-depth-3">
        <div class="container">
            <div class="section">
                <div class="row valign-wrapper">
                    <div class="col s12 m6">
                        <img src="static/images/mainbanner2.png" style="width: 100%; border-radius: 10px" class="responsive-img">
                    </div>
                    <div class="col s12 m5 offset-m1">
                        <h3 class="accentgrey-dark-text">Welcome to Calendarize!</h3>
                        <h5 class="accentgrey-dark-text" style="margin-top: 10%">A new way of planning annual events that are 
                                                                                    otherwise forgotten</h5>
                        <a class="waves-effect waves-light btn-large" href="#" id="register_btn" style="margin-top: 10%">Register now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accentgrey-medium trans">
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Speeds up development</h5>
                            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">User Experience Focused</h5>
                            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Easy to work with</h5>
                            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>



    </div>
    `<div id="myModal" class="modal_container">
        <div class="col s12 valign-wrapper center login_form" id="login_form">
            <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header accentgrey-dark">
                    <h5 class="accentgrey-light-text">Login</h5>
                </div>
                <div class="collapsible-body" style="background-color: white">
                    <div>
                        <form id="formLogin" class="formLogin" method='POST', action="/login">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="loginEmail" name="inputEmail" type="email" required autofocus />
                                    <label for="loginEmail" data-error="Wrong email or password">Email</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="loginPassword" name="inputPassword" type="password" required />
                                        <label for="loginPassword">Password</label>
                                    </div>
                                    <div class="col s12">
                                        <a href="{{ url_for('recover') }}" class="left">Forgot password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s6">
                                    <input type="checkbox" name="remember" id="remember" />
                                    <label for="remember">Remember me</label>
                                </div>
                                <div class="col s6">
                                    <button id="btnLogin" class="right btn waves-effect waves-light" type="submit">Login
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header accentgrey-dark">
                    <h5 class="accentgrey-light-text">Register</h5>
                </div>
                <div class="collapsible-body" style="background-color: white">
                    <div>
                        <form id="formRegister" class="formRegister" action='/register' method='POST'>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registerUsername" name="inputUsername" type="text" pattern=".{3,20}" class="validate" required />
                                    <label for="registerUsername" data-error="Minimum 3 characters">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registerEmail" name="inputEmail" type="email" class="validate" required />
                                    <label id="regEmailLabel" for="registerEmail" data-error="Not a valid email address.">Email</label>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="input-field col s12">
                                    <input id="confirm_email" type="email" class="validate" required>
                                    <label for="confirm_email" data-error="Emails do not match">Repeat Email</label>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="registerPassword" name="inputPassword" type="password" pattern=".{6,20}" class="validate" required />
                                    <label for="registerPassword" data-error="Minimum 6 characters">Password</label>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="input-field col s12">
                                    <input id="confirm_password" type="password" class="validate" required>
                                    <label for="confirm_password" data-error="Passwords do not match">Repeat password</label>
                                </div>
                            </div> -->
                            <div class="row valign-wrapper">
                                <div class="col s6">
                                    <button id="btnRegister" class="right btn waves-effect waves-light" type="submit">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>
<script src="static/js/login_form.js "></script>
{% endblock %}
