{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block nav %}
<nav>
    <div class="container">
      <div class="nav-wrapper blue-grey lighten-3">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#">Link</a></li>
          <li><a href="#">Another Link</a></li>
          <li><a href="#">When will these links end</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
{% endblock %}