.calendarToolbox{
    position: absolute;
    width:100%;
    height: 45px;
}

.calendarToolbox.open{
    bottom: 150px;
}

.calendarToolbox.closed{
    bottom: 0px;
}

.calendarsContainer {
    position: relative; 
    width: 100%;
    /* border-top: 1px solid black; */
    overflow: hidden;
    margin: 0;
}

.calendarsContainer.closed{
    min-height: 5px; 
    max-height: 5px; 
}

.calendarsContainer.open{
    min-height: 152px; 
    max-height: 152px; 
}

.calendarsContainerInner{
    position: absolute;
    padding-top: 15px;
}

.groupInstance{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 150px;
    height: 120px;
    border-radius: 5px;
    /* box-shadow: inset 0 0 10px #000000; */
}

.groupInstanceSettings{
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 40px solid #3D4148;
    border-right: 40px solid #3D4148;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    /* border-radius: 5px; */
}

.groupInstanceSettings.hover{
    border-top: 40px solid #268DAF;
    border-right: 40px solid #268DAF;
}

.groupInstanceSettings i{
    position: absolute;
    bottom: 2px;
    left: 2px;
    /* margin-bottom: 80px; */
    color: #F1F0F0
}

.groupInstanceName{
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 30px;
    color: black;
}

.anim{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.slidecontainer{
    position: absolute; 
    left: 50px; 
    bottom: 10px; 
    width: 30%
}

.slidecontainer span{
    display: none
}

.mainAddButtonContainer {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.calendarsContainer,
.toggleGroupVisibility,
.toggleGroupVisibility:hover{
    box-shadow: 0 -6px 10px 0 rgba(0,0,0,0.14), 0 -1px 18px 0 rgba(0,0,0,0.12), 0 -3px 5px -1px rgba(0,0,0,0.3);
}

input[type=range]{
    --gradient: linear-gradient(90deg, #3D4148 50%, #97989c 50%);
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--gradient);
    height: 8px;
    border: none;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #268DAF;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--gradient);
}