
svg {
    min-height: 300px;
    background-color: #F1F0F0;
    max-height: 100%;
} 

rect {
    fill: #F1F0F0;
}

text {
    pointer-events: none;
}

line {
    pointer-events: none;
}

.calendarContainer {
    height: 100%;
}

.calendarToolbox{
    position: absolute; 
    width:100%; 
    bottom: 181px; 
    height: 45px;
}

.yearBox{
    fill: #3D4148;
}

.yearText{
    stroke: #F1F0F0;
    fill: #F1F0F0;
}

.bottomBase{
    fill: #F1F0F0;
}

.backdrop{
    background-color: transparent;
}

.material-tooltip{
    background-color: rgba(0, 0, 0, 0.1);
}

.mainAddButtonContainer{
    position: absolute; 
    display: inline-block; 
    right: 15px; 
    bottom: 15px;
}

.add_calendar_container, 
.add_event_container,
.event_details_container,
.edit_calendar_container,
.edit_event_container,
.calendar_details_container
{
    display: none;
    height: 100%;
}

span.infotitle {
    font-size: 1.4rem;
}

.row span {
    line-height: 1.8;
}

.row ul {
    margin: 0px;
}

.row span.sub {
    color: grey;
}

.btn-floating.btn-large {
    margin-right: 10px;
    margin-bottom: 10px;
}

.eventdetailsheaderBtn,
.calendardetailsheaderBtn {
    position: fixed;
    top: 8.6em;
    right: 0em;
    border-style: solid;
    border-width: 0.5px;
    z-index: 10;
}

.eventdetailsfixedheader,
.calendardetailsfixedheader {
    position: fixed;
    width: 100%;
    z-index: 9;
}

.neweventheaderBtn {
    position: fixed;
    top: 6.7em;
    right: 0em;
    border-style: solid;
    border-width: 0.5px;
    z-index: 10;
}

.neweventfixedheader {
    position: fixed;
    width: 100%;
    z-index: 9;
}

form label,
form .input-field.col label {
    color: black;
    font-size: 1rem;
}

.overflow {
    height: 100%;
    overflow: scroll;
}

.overflow.fwheader {
    padding: 0;
}

.switch label input[type=checkbox]:checked + .lever {
    color: #15A5C6;
    background-color: rgba(21, 165, 198, 0.62);
    }

.switch label input[type=checkbox]:checked + .lever:after {
    color: #15A5C6;
    background-color: #15A5C6;
}