.accentgrey-light {
    background-color: #F1F0F0;
}

.accentgrey-light-text {
    color: #F1F0F0;
}

.accentgrey-medium {
    background-color: #97989c;
}

.accentgrey-medium.trans {
    background-color: #97989c38;
}

.accentgrey-medium-text {
    color: #97989C;
}

.accentgrey-dark {
    background-color: #3D4148;
}

.accentgrey-dark-text {
    color: #3D4148;
}

.accentblue-light {
    background-color: #47BCDA;
}

.accentblue-light-text {
    color: #47BCDA;
}

.accentblue-medium {
    background-color: #15A5C6;
}

.accentblue-medium-text {
    color: #15A5C6;
}

.accentblue-dark {
    background-color: #268DAF;
}

.accentblue-dark-text {
    color: #268DAF;
}