
.dropdown-content{
    background-color: white;
    margin-top: 64px;
    min-width: 200px;
    max-height: auto;
    margin-left: -1px; 
    position: absolute;
}
.dropdown-content li>a, span{
    color: black  
}
.dropdown-content li>a:hover{
    background-color: darkgrey;
}