<div class="add_calendar_container" id="calendarForm">
    <form class="addCalendar" id="addCalendar">
        <div class="row neweventfixedheader accentgrey-dark z-depth-1">
            <div class="col s12">
                <h4 class="left-align grey-text text-lighten-5">New calendar</h4>
            </div>
        </div>
        <button id="btnNewCalendar" type="submit" class="btn-floating btn-large waves-effect waves-light right neweventheaderBtn accentgrey-dark"><i class="material-icons">done</i></button>
        <div style="padding-top: 5em">
            <div class="row">
                <div class="col s12 input-field">
                    <input placeholder="Group name" id="newCalendarName" name="newCalendarName" type="text" required>
                    <label for="newCalendarName">Name of group</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Add emails" id="calInvites" name="invites" class="materialize-textarea"></textarea>
                    <label for="calInvites">Share</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field" id="setColorContainer">
                    <select id="setCalendarColor" name="color">
                    </select>
                    <label>Color</label>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#calendarForm").hide(0) 

    // color picker
    selector = $('#setCalendarColor');
    selector.empty()
    colors.forEach(function(color){
        selector.append("<option value=" + color + "></option>");
    })
    selector.on("change", function(){
        $("#setColorContainer").find(".select-dropdown").css("border-bottom", () => "5px solid " + $(this).val())
    });
    init_forms();
    $.each(colors, function(i, color){
        if (d3.selectAll(".group").filter(d => d.calendar_color == color).empty()){
            $("#setColorContainer").find(".select-dropdown").css("border-bottom", () => "5px solid " + color)   
            selector.val(color) 
            return false;
        } 
        if (i == colors.length-1){
            $("#setColorContainer").find(".select-dropdown").css("border-bottom", () => "5px solid " + colors[0])
            selector.val(colors[0]); 
        } 
    });
    $("#setColorContainer").find("li").each(function(i){
        $(this).empty().addClass("valign-wrapper")
               .append("<div></div>").children("div").addClass("coloredLine").css("background-color", colors[i])
    })
    // end of color picker

    $("#addCalendar").submit(function(e){
        e.preventDefault()
        $.ajax({
            url: '/add_calendar',
            data: $(this).serialize(), 
            type: 'POST',
            dataType: 'json',
            success: function(r) {
                if (r.success == 'true'){
                    display_calendar(JSON.parse(r.data));
                }
                else {
                    console.log ('could not create new calendar')
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    $("#calendarForm").show(700)
</script>