<div class="event_details_container" id="eventDisplay">
    <div class="row z-depth-1 eventdetailsfixedheader">
        <div class=" col s12">
            <h4 class="left-align grey-text text-lighten-5 eventName">Nan</h4>
            <span class="grey-text text-lighten-3" id="event_owner"></span>
        </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light right eventdetailsheaderBtn" onclick="editEvent()"><i class="material-icons">edit</i></a>
    <div style="padding-top: 7em">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" style="display:none">
                    <li class="tab col s6"><a id="recurring_event" class="active" href="#event"></a></li>
                    <li class="tab col s6"><a id="specific_event" href="#child"></a></li>
                </ul>
            </div>
        </div>
        <div id="event" class="col s12">
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Group</strong></span>
                    <br>
                    <span class="eventGroup"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Date</strong></span>
                    <br>
                    <div id="dateOfEvent"></div>
                    <span class="sub">Recurring: </span><span class="sub eventRecur"></span>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Location</strong></span>
                    <br>
                    <span>TBD</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Notifications</strong></span>
                    <br>
                    <span>TBD</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Members</strong></span>
                    <div class="row">
                        <div class="col s5" style="padding:0">
                            <ul>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li><a href="#">See more</a></li>
                            </ul>
                        </div>
                        <div class="col 5">
                            <ul>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Notes</strong></span>
                    <br>
                    <span id="event_notes"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Attachments</strong></span>
                    <br>
                    <div  id="eventFiles"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a id="delete_event" class="waves-effect red darken-2 waves-red accentgrey-light-text btn-flat">Delete event</a>
                </div>
            </div>
       </div>
       <div id="child" class="col s12">
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Group</strong></span>
                    <br>
                    <span class="eventGroup">NaN</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Date</strong></span>
                    <br>
                    <div id="dateOfInstance">

                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Location</strong></span>
                    <br>
                    <span>TBD</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Notifications</strong></span>
                    <br>
                    <span>TBD</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Members</strong></span>
                    <div class="row">
                        <div class="col s5" style="padding:0">
                            <ul>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li><a href="#">See more</a></li>
                            </ul>
                        </div>
                        <div class="col 5">
                            <ul>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Notes</strong></span>
                    <br>
                    <span id="event_notes"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Attachments</strong></span>
                    <br>
                    <div  id="eventFiles"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a id="delete_event" class="waves-effect red darken-2 waves-red accentgrey-light-text btn-flat">Delete event</a>
                </div>
            </div>
       </div>
    </div>
</div>
<script>
$("#eventDisplay").hide(0)

function populate_event(){
    if (current_event.event_fixed_date == 1){
        var format = d3.timeFormat('%d %B, %Y')
        if (current_event.event_start.getTime() == current_event.event_end.getTime())
            $("#dateOfEvent").append(`<span>On: ${format(current_event.event_start)}</span>`)
        else
            $("#dateOfEvent").append(`<span>From: ${format(current_event.event_start)}</span> \
                                      <br> \
                                      <span> To: ${format(current_event.event_end)}</span>`)
    }
    else{
        var start = current_event.event_start.getDate(),
            end = current_event.event_end.getDate()
        if (start == 1){
            if (end > 15) var when = ''
            else var when = 'the beginning of '
        }
        else if (start < 15) var when = 'the middle of '
        else var when = 'the end of '
        $("#dateOfEvent").append(`<span>Sometime in ${when}${d3.timeFormat('%B')(current_event.event_start)}</span>`)
    }
    $('.eventGroup').text(() => d3.selectAll('.group').filter(d => d.calendar_id == current_event.event_calendar_id).data()[0].calendar_name)
    $('.eventRecur').text(() => +current_event.event_recurring == 1 ? 'YES' : 'NO')
    
    $('#event_notes').empty()
    if (current_event.event_details == '') $('#event_notes').text("No notes added")
    else $('#event_notes').text(current_event.event_details)

    $('#eventFiles').empty()
    if (current_event.files.length > 0){
        current_event.files.forEach (function(filename){
            $('#eventFiles').append("<a href='/uploads/"+ filename +"?id="+ current_event.event_id +"' download='"+ filename +"'>"+ filename +"</a><br>")
        })
    }
    else{
        $('#eventFiles').append("<span>No files added</span>")
    }
}

function populate_instance(){

}

$(document).ready(function(){
    $("#recurring_event").text("general event")
    $("#specific_event").text(() => "Year: " + current_event.event_year)

    if (+current_event.event_recurring == 1) var format = d3.timeFormat('%d %B, ' + current_event.event_year)
    else var format = d3.timeFormat('%d %B, %Y')

    $('.eventdetailsfixedheader').css('background-color', current_event.calendar_color);
    $('.eventdetailsheaderBtn').css('background-color', current_event.calendar_color);

    $('.eventName').text(current_event.event_name)
    $('#event_owner').text("Created by: "+current_event.event_owner_id)

    populate_event();
    console.log(current_event)

    $('ul.tabs').css("display", "block")
    $('ul.tabs').tabs()
    $("#eventDisplay").slideDown('slow', function(){
        $('ul.tabs').tabs()
    })

    $('#delete_event').click(function(e){
        e.preventDefault()
        $.ajax({
            url: '/delete_event',
            type: 'POST',
            data: {'event_id': current_event.event_id},
            success: function(response) {
                if (response == 'true') {
                    $("#sidebar").empty()
                    current_event = null;
                    load_data();
                }
                else {
                    console.log (response, 'could not delete this event')
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
})
</script>