<div class="row">
    <div class="row neweventfixedheader accentgrey-dark z-depth-1">
        <div class=" col s12">
            <h4 class="left-align grey-text text-lighten-5 eventName">Friends</h4>
            <span class="grey-text text-lighten-3" id="event_owner"></span>
        </div>
    </div>
    <button id="btnNewEvent" type="submit" class="btn-floating btn-large waves-effect waves-light right neweventheaderBtn accentgrey-dark"><i class="material-icons">add</i></button>
    <div class="row" style="padding-top: 7em">
        <ul class="collapsible" id="notificationAccordian" data-collapsible="expandable">
        </ul>
    </div>
</div>