<div class="profile_details_container" id="profileDisplay">
    <div class="row z-depth-1 profileheaderimg">
        <div class="col s12">
            <img src="http://via.placeholder.com/75x75" class="profileimg circle">
        </div>
        <div class=" col s12">
            <h4 class="left-align grey-text text-lighten-5">Name User</h4>
            <span class="grey-text text-lighten-3">email@email.com</span>
        </div>
    </div>
    <button class="btn-floating btn-large waves-effect waves-light right profiledetailsheaderBtn accentgrey-dark"><i class="material-icons">edit</i></button>
    <div class="profilepaddingfix">
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Username</strong></span>
                <br>
                <span>{{name}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Name</strong></span>
                <br>
                <span>Full Name Display</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a id="delete_account" href="/delete_user" class="waves-effect red darken-2 waves-red accentgrey-light-text btn-flat">Delete account</a>
            </div>
        </div>
    </div>
</div>