<div class="row">
    <div class="calendar_details_container">
        <div class="row z-depth-1 calendardetailsfixedheader">
            <div class=" col s12">
                <h4 class="left-align grey-text text-lighten-5 calendarName"></h4>
                <span class="grey-text text-lighten-3" id="calendarOwner">Created by: Person X</span>
            </div>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light right calendardetailsheaderBtn"><i class="material-icons">edit</i></a>
        <div style="padding-top: 7em">
            <div class="row">
                <!-- <div class="col s6">
                    <span><strong>Syncronize</strong></span>
                </div>
                <div class="col s6">
                    <div class="switch">
                        <label>
                            <input type="checkbox">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Notifications</strong></span>
                    <br>
                    <span>1 week in advance</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Accessibility</strong></span>
                    <br>
                    <span>Invite only</span>
                </div>
            </div> -->
            <div class="row">
                <div class="col s12">
                    <span class="infotitle"><strong>Members</strong></span>
                    <div class="row">
                        <div class="col s12" style="padding:0">
                            <ul id="members">
                                <!-- <li>Person 1</li> -->
                                <!-- <li>Person 2</li>
                                <li>Person 3</li>
                                <li><a href="">See more</a></li> -->
                            </ul>
                        </div>
                        <!-- <div class="col 5">
                            <ul>
                                <li>Person 1</li>
                                <li>Person 2</li>
                                <li>Person 3</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col s12">
                        <span class="infotitle"><strong>Pending members</strong></span>
                        <div class="row">
                            <div class="col s12" style="padding:0">
                                <ul id="pending">
                                    <!-- <li>Person 1</li> -->
                                    <!-- <li>Person 2</li>
                                    <li>Person 3</li>
                                    <li><a href="">See more</a></li> -->
                                </ul>
                            </div>
                            <!-- <div class="col 5">
                                <ul>
                                    <li>Person 1</li>
                                    <li>Person 2</li>
                                    <li>Person 3</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col s12">
                    <a id="delete_calendar" class="waves-effect red darken-2 waves-red accentgrey-light-text btn-flat">Delete group</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
function populate(data){
    $('.calendardetailsfixedheader').css('background-color', "#"+data.calendar_color);
    $('.calendardetailsheaderBtn').css('background-color', "#"+data.calendar_color);
    $('.calendarName').text(data.calendar_name);
    $('#calendarOwner').text(() => "Created by: " + data.calendar_owner);
    if (data.members.length > 0){
        $('#members').empty()
        data.members.forEach(function(member){
            $('#members').append(`<li>${ member }</li>`)
        })
    }
    if (data.pending.length > 0){
        $('#pending').empty()
        data.pending.forEach(function(pending){
            $('#pending').append(`<li>${ pending }</li>`)
        })
    }

    $(".calendardetailsheaderBtn").on('click', function(){
        
    })

    $('#delete_calendar').click(function(e){
        e.preventDefault()
        $.ajax({
            url: '/delete_calendar',
            type: 'POST',
            data: {'calendar_id': data.calendar_id}, 
            success: function(response) {
                if (response == 'true') {
                    load_data();
                    calendars_list();
                }
                else {
                    console.log (response, 'could not delete this calendar')
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
}

</script>