<div class="event_details_container" id="eventDisplay">
    <div class="row z-depth-1 eventdetailsfixedheader">
        <div class=" col s12">
            <h4 class="left-align grey-text text-lighten-5 eventName">Nan</h4>
            <span class="grey-text text-lighten-3" id="event_owner">Created by: Person X</span>
        </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light right eventdetailsheaderBtn" id="editEvent"><i class="material-icons">edit</i></a>
    <div style="padding-top: 7em">
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Group</strong></span>
                <br>
                <span class="eventGroup">NaN</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Date</strong></span>
                <br>
                <span>From: </span><span class="eventDateStart">Nan</span>
                <br>
                <span> To: </span><span class="eventDateEnd"></span>
                <br>
                <span class="sub">Recurring: </span><span class="sub eventRecur">NaN</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Location</strong></span>
                <br>
                <span>TBD</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Notifications</strong></span>
                <br>
                <span>TBD</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Members</strong></span>
                <div class="row">
                    <div class="col s5" style="padding:0">
                        <ul>
                            <li>TBD</li>
                            <li>TBD</li>
                            <li>TBD</li>
                            <li><a href="#">See more</a></li>
                        </ul>
                    </div>
                    <div class="col 5">
                        <ul>
                            <li>TBD</li>
                            <li>TBD</li>
                            <li>TBD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Notes</strong></span>
                <br>
                <span id="event_notes"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="infotitle"><strong>Attachments</strong></span>
                <br>
                <div  id="eventFiles"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a id="delete_event" class="waves-effect red darken-2 waves-red accentgrey-light-text btn-flat">Delete event</a>
            </div>
        </div>
    </div>
</div>