<div class="edit_profile_container" id="editProfileForm">
    <form class="editProfile" id="editProfile">
        <div class="row neweventfixedheader accentgrey-dark z-depth-1">
            <div class="col s12">
                <h4 class="left-align grey-text text-lighten-5">Edit profile</h4>
            </div>
        </div>
        <button id="btnEditProfile" type="submit" class="btn-floating btn-large waves-effect waves-light right neweventheaderBtn accentgrey-dark"><i class="material-icons">done</i></button>
        <div style="padding-top: 5em">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" name="name">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Optional" id="telephone" type="tel" name="phone">
                    <label for="telephone">Telephone</label>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
    </form>
</div>
<script>
    $("#editProfileForm").hide(0)
    $("#name").val(user['name'])
    $("#telephone").val(function (){
        if (user['phone'] == 'None') return ''
        else return user['phone']
    })
    init_forms();
    $("#editProfile").submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/update_profile',
            type: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                console.log(response)
                var new_name = $("#name").val()
                if (new_name != ''){
                    update_name(new_name);
                }
                $('#sidebar').load("/side/display_profile");
            },
            error: function(error){
                console.log(error)
            }
        })
    })
    $("#editProfileForm").show(700)
</script>