<div class="edit_calendar_container" id="editCalendarForm">
    <form class="editCalendar" id="editCalendar">
        <div class="row neweventfixedheader accentgrey-dark z-depth-1">
            <div class="col s12">
                <h4 class="left-align grey-text text-lighten-5">Edit calendar</h4>
            </div>
        </div>
        <button id="btnEditCalendar" type="submit" class="btn-floating btn-large waves-effect waves-light right neweventheaderBtn accentgrey-dark"><i class="material-icons">done</i></button>
        <div style="padding-top: 5em">
            <div class="row">
                <div class="col s12 input-field">
                    <input placeholder="Group name" id="editCalendarName" name="editCalendarName" type="text" required>
                    <label for="editCalendarName">Name of group</label>
                </div>
            </div>
            <div class="row">
                <div class="col s2 input-field">
                    <input value="0" id="first_name2" type="text" class="center">
                    <label>Notification</label>
                </div>
                <div class="col s10 input-field">
                    <select>
                        <option value="1">None</option>
                        <option value="2">Minutes in advance</option>
                        <option value="3">Hours in advance</option>
                        <option value="4">Days in advance</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select multiple>
                        <option value="1">Person 1</option>
                        <option value="2">Person 2</option>
                        <option value="3">Person 3</option>
                    </select>
                    <label>Add Members</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <select>
                        <option value="1">Everyone</option>
                        <option value="2">Users only</option>
                        <option value="3">Invite only</option>
                        <option value="4">Private</option>
                    </select>
                    <label>Accessibility</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <select>
                        <option value="1">Red</option>
                        <option value="2">Blue</option>
                        <option value="3">Purple</option>
                        <option value="4">Yellow</option>
                    </select>
                    <label>Color</label>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#editCalendarForm").hide(0)
    init();
    $("#editCalendar").submit(function(e){
        e.preventDefault()
        $.ajax({
            url: '/edit_calendar',
            data: $(this).serialize(), 
            type: 'POST',
            success: function(response) {
                if (response == 'true') {
                    $("#sidebar").empty();
                    load_data();
                }
                else {
                    console.log ('could not create new calendar')
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    $("#editCalendarForm").show(700)
</script>