<div class="row">
    <h2>Notifications</h2>
    <ul class="collapsible" id="notificationAccordian" data-collapsible="expandable">
    </ul>
</div>
<script>
function accept(data){
    $.ajax({
        url: '/join_calander',
        method: 'POST',
        dataType: 'json',
        data: JSON.parse(data),
        success: function(response){
            load_notifications();
        },
        error: function(error) {
            console.log(error);
        },
    })
}

function decline(data){
    $.ajax({
        url: '/decline_calander',
        method: 'POST',
        dataType: 'json',
        data: data,
        success: function(response){
            load_notifications();
        },
        error: function(error) {
            console.log(error);
        },
    })
}

$(document).ready(function(){
    var notifications = JSON.parse('{{ notifications|tojson|safe }}')
    update_notifier(notifications.length);

    var accord_li = "<li class='notificationAccordianInstance'> \
                    <div class='collapsible-header accentgrey-dark accentgrey-light-text'></div> \
                    <div class='collapsible-body accentgrey-light'></div> \
                </li>"
    
    $("#notificationAccordian").empty()
    for (i = 0; i < notifications.length; i++){
        var data = JSON.stringify(notifications[i])
        var invite_card =  `<div class='card-content'> \
                                <p> <strong>${notifications[i]['sender']}</strong> invited you to join <strong style='display: inline-block'>${notifications[i]['calendar_name']}</strong> calendar </p> \
                            </div>\
                            <div class='card-action right'> \
                                <a href='#!' onclick='decline(${data})' style='color:#ffab40; margin-right:5px'>Decline</a> \
                                <a href='#!' onclick='accept(${data})' style='color:#ffab40'>Accept</a> \
                            </div>`

        $("#notificationAccordian").append(accord_li).find(".collapsible-header:last").text('New calendar invite')
        $("#notificationAccordian").find(".collapsible-body:last").append(invite_card)
    }
    $('.collapsible').collapsible();
})
</script>