{% extends 'nav_lay.html' %}
{% block title %}calendarize.index{% endblock %}
{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col s3 offset-s9">
                    <div class="card-panel teal lighten-2">
                        <span class="white-text">This is text in a card panel</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s3 offset-s9">
                    <div class="card-panel teal lighten-2">
                        <span class="white-text">This is text in a card panel</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s3 offset-s9">
                    <div class="card-panel teal lighten-2">
                        <span class="white-text">This is text in a card panel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}