{% extends 'base.html' %} {% block title %}{% endblock %} {% block nav %}
<nav class="accentgrey-dark z-depth-3">
    <div class="nav-wrapper  hide-on-med-and-down">
        <a href="#"><img src="static/images/logo_nav.png" class="placeholderimg"></a>
        <ul class="right">
            <li><a class="waves-effect waves-light btn" href="#" id="login_btn">Log In</a></li>
            <li><a class="waves-effect waves-light btn" href="#" id="signup_btn">Sign Up</a></li>
        </ul>
    </div>
</nav>
{% endblock %} {% block content %} {% endblock %}