{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block nav %}
  <link href="static/css/nav_loggedin.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <div class="right">
    <ul>
      <li><a href="#" class="notifier" onclick="Materialize.toast('Not yet implemented', 4000)">
        <ul>
          <li><i class="material-icons">notifications</i></li>
          <li><span class="new badge">4</span></li>
        </ul>
      </a></li>
      <li><a class='dropdown-button z-depth-0 black' href='#' data-activates='settings_dropdown' data-beloworigin="true" style="text-transform: none;">
        <ul>
          <li><i class="large material-icons">person</i></li>
          <li style="padding-left: 10px; padding-right: 10px;">{{name}}</li>
          <li><i class="material-icons">arrow_drop_down</i></li>
        </ul>
      </a>
        <ul id='settings_dropdown' class='dropdown-content'>
          <li><a href="#!" onclick="Materialize.toast('Not yet implemented', 4000)">stuff</a></li>
          <li><a href="#!" onclick="Materialize.toast('Not yet implemented', 4000)">stuff</a></li>
          <li class="divider"></li>
          <li><a href="#!" onclick="Materialize.toast('Not yet implemented', 4000)">settings<i class="material-icons right">settings</i></a></li>
          <li><a href="/logout">logout<i class="material-icons right">power_settings_new</i></a></li>
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}
{% block content %}
{% endblock %}