{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block nav %}
<nav>
    <div class="nav-wrapper black hide-on-med-and-down">
      <a href="#" class="dropdown" style="position: absolute; left: 30px;">
        <ul>
          <li style="margin-right: 10px;"><i class="large material-icons">person</i></li>
          <li>John Doe</li>
          <li><i class="material-icons">arrow_drop_down</i></li>
        </ul>
      </a>
      <a href="#" class="brand-logo center">Logo</a>
      <ul style="position: absolute; right: 10px;">
        <li><a href="#" class="notifier"><i class="material-icons">notifications</i></a></li>
        <li><a href="#" class="slideNav"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}