{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block nav %}
  <link href="static/css/nav_loggedin.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <i class='dropdown-button btn z-depth-0 black' href='#' data-activates='settings_dropdown' data-beloworigin="true" style="position: absolute; left: 10px; text-transform: none;">
    <ul>
      <li><i class="large material-icons">person</i></li>
      <li style="padding-left: 10px; padding-right: 10px;">{{name}}</li>
      <li><i class="material-icons">arrow_drop_down</i></li>
    </ul>
  </i>
    <ul id='settings_dropdown' class='dropdown-content'>
      <li><a href="#!">stuff</a></li>
      <li><a href="#!">stuff</a></li>
      <li class="divider"></li>
      <li><a href="#!"><i class="material-icons">settings</i>settings</a></li>
      <li><a href="/logout"><i class="material-icons">power_settings_new</i>logout</a></li>
    </ul>
  <ul style="position: absolute; right: 10px;">
    <li><a href="#" class="notifier"><i class="material-icons">notifications</i></a></li>
    <li><a href="#" class="slideNav"><i class="material-icons">menu</i></a></li>
  </ul>
{% endblock %}
{% block content %}
{% endblock %}