{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', filename='css/verify.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />

<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel white center-align">
        <span class="accentgrey-dark-text">Reset password link has been sent to:</span><br>
        <span><strong>{{ email }}</strong></span><br><br>
        <a class="btn waves-effect waves-light" href="{{ url_for('index') }}">Return to homepage</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
