{% extends "base.html" %} {% block content %}
<link href="{{ url_for('static', filename='css/verify.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />

<div class="container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card-panel white center-align">
				<h3 class="accentgrey-dark-text">Set New Password</h3>
				<div class="row">
					<div class="col s12 ">
						<form action="" method="POST">
							<div class="row">
								<div class="input-field col s12">
									<input id="new_password" type="password" name="new_password" class="validate" required autofocus>
									<label for="new_password" id="error_msg">Password</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="repeat_password" type="password" name="repeat_password" class="validate" required>
									<label for="repeat_password">Repeat password</label>
								</div>
							</div>
							<div class="row">
								<a class="btn waves-effect waves-light left" href="{{ url_for('index') }}">Cancel</a>
								<button class="btn waves-effect waves-light right" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	message = JSON.parse('{{ get_flashed_messages()|tojson }}')
	if (message != []){
		$("#error_msg").attr("data-error", message[0])
		$("#new_password").addClass("invalid")
		$("#repeat_password").addClass("invalid")
	}
</script>
{% endblock %}
