{% extends "layout.html" %}
{% block inner %}
<h2>Set New Password</h2>
<div class="col s4 offset-s4">
	<form action="" method="POST">
		<div class="row">
			<div class="input-field col s12">
				<input id="new_password" type="password" name="new_password" class="validate">
				<label for="new_password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="repeat_password" type="password" name="repeat_password" class="validate">
				<label for="repeat_password">Repeat password</label>
			</div>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light" href="{{ url_for('index') }}">Cancel</a>
			<button class="btn waves-effect waves-light" type="submit">Submit</button>
		</div>
		<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	</form>
</div>

{% endblock %}
