{% extends "base.html" %}
{% block title %}calendarize.verify{% endblock %}
{% block content %}

<link href="{{ url_for('static', filename='css/verify.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />

<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel white center-align">
        <h3 class="accentgrey-dark-text">Please verify your account</h3>
        <br>
        <form action="{{ url_for("verifyoption") }}" method="POST">
        <input type="hidden" name="email" value= "{{ email }}" />
        <button type="submit" name="action" value="do_1" class="left btn waves-effect waves-light">Resend Link</button>
        <a class="right btn waves-effect waves-light" href="{{ url_for('index') }}">Return to homepage</a>
        <br><br>
        </form>
      </div>
    </div>
  </div>
</div>





{% endblock %}
