{% extends "base.html" %}
{% block title %}calendarize.verify{% endblock %}
{% block content %}

<link href="{{ url_for('static', filename='css/verify.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />



<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel white center-align">
        <span class="accentgrey-dark-text">Your account has been successfully verified. You will be automaticaly redirected to your homepage in a few moments or you can optionally click on the link below</span>
        <br><br>
        <a class="btn waves-effect waves-light" href="{{ url_for('index') }}">Return to Homepage</a>
        <script>setInterval(function(){ window.location.replace("{{ url_for('index') }}"); }, 15000);</script>
      </div>
    </div>
  </div>
</div>


{% endblock %}
